html body {
    margin: 0;
    padding: 0;
    background-color: #E1DDD5; 
    color: rgb(47, 46, 41);
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

/* .container .heading{
    width: 50%;
    padding-bottom: 50px;
} */

/* .container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 15px;
    border-bottom: 3px solid #000000;
    margin-top: 0;
    margin-bottom: 0;
} */

/* .container .heading h3 span {
    font-weight: 100;
} */

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex; 
    flex-direction: column;
    width: 32.5%; /* 33 */
}

.container .box .dream img{
    width: 100%;
    padding-bottom: 5px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .dream{
        width: 100%;
    }

    /* .container .heading{
        width: 100%;
        padding-bottom: 50px;
    } */

    /* .container .heading h3 {
        font-size: 2em;
    } */
}